/*Global styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game {
    margin: 40px auto;
    display: grid;
    width: 411px;
    height: 411px;
    grid-template: repeat(10, 40px) / repeat(10, 40px);
    background: #000;
    gap: 1px;
    border: 1px solid black;
}

#game div {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
}

#game #user {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: orange;
}

#dice {
    border: none;
    background-color: white;
    margin-left: 45%;
}

#dice~div {
    font-family: 'Indie Flower', cursive;
    margin-left: 40%;
    margin-top: 20px;
    font-size: 2rem;
}