/*Global styles*/
@import url("https://fonts.googleapis.com/css2?family=Gluten&family=Mulish&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gluten", cursive;
}

body {
    counter-reset: block;
    background-color: #f9eef4;
    background-image: url(../images/bg.jpg);
    background-size: 100%;
}

#control-panel {
    display: flex;
    justify-content: space-around;
}

#control-panel #stop-watch,
#control-panel #mute {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #fff;
    font-size: 3rem;
    border: 5px solid #000;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    z-index: 10;
    text-transform: capitalize;
    right: 10%;
    top: 20%;
}

#control-panel #mute {
    left: 10%;
    top: 20%;
}

.game-items {
    position: relative;
}

.game-items #notifications {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 5px #000, 0 0 1em rgba(0, 0, 0, 0.4);
}
.game-items #notifications > div {
    position: absolute;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -70px);
    transition: opacity 1s, visibility 1s, transform 1s;
}
.game-items #notifications > div.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

#game {
    margin: 40px auto;
    display: grid;
    width: 626px;
    height: 626px;
    grid-template: repeat(10, 60px) / repeat(10, 60px);
    background: #000;
    gap: 2px;
    border: 4px solid black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 4px 4px;
}

#game > div {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;
}

#game > div::after {
    counter-increment: block;
    content: counter(block);
    position: absolute;
    right: 3px;
    bottom: 3px;
    font-size: 14px;
}

#game #user {
    position: absolute;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: orange;
    opacity: 0.8;
    font-size: 1.4rem;
}

#choose-level {
    display: none;
    font-size: 2rem;
    background-color: #edf8fa;
    border-radius: 30px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    z-index: 20;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 3px 3px 3px rgba(0, 0, 0, 0.4),
        inset 0 3px 2px #fff;
}

#choose-level.show {
    display: block;
}

#choose-level button {
    display: block;
    margin-top: 20px;
    margin-left: 35%;
}

#dice {
    border: none;
    background-color: transparent;
    margin-left: 47%;
}

#dice ~ div {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

.question-popup {
    visibility: hidden;
    width: 400px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 10px 10px #e0eef1;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 3px 3px 3px rgba(0, 0, 0, 0.4),
        inset 0 3px 2px #fff;
}

.question-popup.visible {
    visibility: visible;
}

.question-popup #answers {
    text-align: left;
    padding: 10px 80px;
}
.question-popup #answers > div {
    padding: 5px 0;
}
.question-popup #answers label {
    margin-left: 5px;
}

.question-popup #submit button {
    font-size: 1rem;
    padding: 10px;
    background-color: #cbeaf1;
    border: none;
}

.popup-gameStart {
    width: 600px;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 30px;
    padding: 20px;
    background-color: #edf8fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 3px 3px 3px rgba(0, 0, 0, 0.4),
        inset 0 3px 2px #fff;
}

.popup-gameStart p {
    margin-top: 12px;
    line-height: 1.4;
}

.popup-gameEnd {
    visibility: hidden;
    font-size: 3rem;
    width: 300px;
    text-align: center;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 30px;
    padding: 20px;
    background-color: #edf8fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 3px 3px 3px rgba(0, 0, 0, 0.4),
        inset 0 3px 2px #fff;
}

#startBtn,
#restartBtn,
#basic,
#hard {
    font-size: 2rem;
    margin-top: 10px;
    padding: 10px;
    background-color: #cbeaf1;
    border: none;
    border-radius: 5px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    padding: 20px 0;
    border-top: 1px solid #000;
}

footer nav a {
    font-size: 25px;
    color: #000;
    padding: 10px;
}

footer .social_media i {
    font-size: 160%;
    color: #000;
    padding: 0 20px;
}

footer .social_media i:hover,
footer > h1:hover,
footer nav a:hover {
    color: rgb(112, 2, 2);
}

/* Contact page */
#contact-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#contact-page main {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-page main #contact-form {
    width: 60%;
    text-align: center;
}
#contact-page main #contact-form > a {
    font-size: 80px;
    color: #000;
}
#contact-page main #contact-form #form-container {
    margin-top: 30px;
    padding: 40px 20px;
    background-color: #cbeaf1;
    border-radius: 10px;
    box-shadow: 4px 4px;
    text-align: center;
}
#contact-page main #contact-form #form-container #thank-you,
#contact-page main #contact-form #form-container #fail-send {
    display: none;
}
#contact-page main #contact-form #form-container #thank-you.show,
#contact-page main #contact-form #form-container #fail-send.show {
    display: block;
}
#contact-page main #contact-form #form-container .notification {
    margin-bottom: 30px;
}
#contact-page main #contact-form #form-container form {
    text-align: left;
}
#contact-page main #contact-form #form-container form.hide {
    display: none;
}
#contact-page main #contact-form a {
    color: #000;
    margin-left: 15px;
    text-decoration: none;
    position: relative;
}
#contact-page main #contact-form a:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: #000;
}
#contact-page main #contact-form label,
#contact-page main #contact-form input:not([type="submit"]),
#contact-page main #contact-form textarea {
    display: block;
    width: 100%;
}
#contact-page main #contact-form label {
    margin-top: 20px;
}
#contact-page main #contact-form input,
#contact-page main #contact-form textarea {
    padding: 10px;
    margin-top: 3px;
    border: 2px solid #1b5c6b;
    outline-color: #1d373d;
    border-radius: 3px;
    font-size: 16px;
}
#contact-page main #contact-form input[type="submit"] {
    background-color: #000;
    padding: 10px;
    color: #fff;
    font-size: 16px;

    border: none;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
}

/* Media query for screen sizes from 700px wide and down*/
@media screen and (max-width: 700px) {
    #game #user {
        width: 18px;
        height: 18px;
        font-size: 0.8rem;
    }
    #control-panel #stop-watch,
    #control-panel #mute {
        width: 40px;
        height: 40px;
        font-size: 2rem;
    }

    #game {
        width: 286px;
        height: 286px;
        grid-template: repeat(10, 26px) / repeat(10, 26px);
        box-shadow: 2px 2px;
    }
    #game > div {
        font-size: 18px;
    }
    #game > div::after {
        font-size: 7px;
        bottom: 2px;
        right: 2px;
    }

    .popup-gameStart {
        width: 94%;
        top: 60%;
        left: 50%;
    }

    .popup-gameEnd {
        top: 50%;
        left: 50%;
    }

    .question-popup {
        width: 350px;
        font-size: 15px;
        top: 45%;
    }

    #choose-level {
        width: 90%;
        top: 60%;
        left: 50%;
    }

    footer {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    footer .social_media i {
        padding: 10px 20px;
    }

    footer h1 {
        padding-right: 10px;
    }

    footer nav a {
        padding: 10px;
        justify-items: center;
    }

    #dice {
        margin-left: 40%;
    }

    #contact-page main #contact-form {
        width: 90%;
    }
}

/* Media query for screen sizes from 1200px wide and down*/
@media screen and (max-width: 1200px) {
    .game-items {
        position: relative;
        top: 80px;
    }

    #control-panel {
        width: 286px;
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translate(-50%);
    }

    #control-panel #stop-watch,
    #control-panel #mute {
        position: relative;
        width: 80px;
        height: 80px;
    }

    #dice {
        margin-top: 60px;
    }
}
